@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    margin: 6rem 0 4rem 0;

}

.redes{
    max-width: 400px;
    margin: 0 auto;
    nav{

        a{
            display: block;
            width: 10rem;
            height: 10rem;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 3rem;
            padding: 3rem;
            color: v.$blanco;
            background-color: v.$gris;
            border-radius: 1rem;
            position: relative;
            transition: all 1s ease;

            &:hover{
                background-color: v.$fucsia;
                right: -50px;
            }
        }
        @include m.tablet {
            display: flex;
            gap: 2rem;
            justify-content: space-between;
            align-items: center;

            a:hover{
                top: -10px;
                right: 0;
            }
        }
    }
}