@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    margin: 6rem 0 4rem 0;

}

.redes{
    max-width: 300px;
    margin: 0 auto;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            font-size: 3rem;
            padding: 3rem;
            color: v.$blanco;
            background-color: v.$gris;
            border-radius: 1rem;
            position: relative;
            transition: all 1s ease;

            &:hover{
                background-color: v.$fucsia;
                top: -10px;
            }
        }
    }
}