@use 'base/mixins' as m;
@use 'base/variables' as v;

.proyectos {
    padding-top: 4.8rem;
    justify-content: center;
    text-align: center;
    opacity: 0;
}

.trabajos {
    display: block;
    margin: 1rem auto;

    @include m.tablet {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}

.proyecto-contenido {
    margin: 1rem auto;
    padding: 1rem;
    min-width: 250px;
    max-width: 300px;
    background-color: darken(v.$grisClaro, 10%);
    border-radius: 1rem;

    p{
        font-weight: bold;
    }

    img{
        padding: 1rem;
        border-radius: 1rem;
    }
}
.descripcion-visible{
    display: none;
}